//! **************************************************************************
// Written by: Map P.20131013 on Fri Sep 16 16:18:14 2016
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "P144";
PROHIBIT = SITE "P69";
PROHIBIT = SITE "P60";
COMP "ARDUINO_RESET" LOCATE = SITE "P139" LEVEL 1;
COMP "DIR_LEFT" LOCATE = SITE "P134" LEVEL 1;
COMP "DIR_DOWN" LOCATE = SITE "P133" LEVEL 1;
COMP "Resetn" LOCATE = SITE "P118" LEVEL 1;
COMP "Cfg_in" LOCATE = SITE "P116" LEVEL 1;
COMP "LED0" LOCATE = SITE "P55" LEVEL 1;
COMP "LED1" LOCATE = SITE "P50" LEVEL 1;
COMP "LED2" LOCATE = SITE "P47" LEVEL 1;
COMP "LED3" LOCATE = SITE "P121" LEVEL 1;
COMP "LED4" LOCATE = SITE "P123" LEVEL 1;
COMP "LED5" LOCATE = SITE "P124" LEVEL 1;
COMP "LED6" LOCATE = SITE "P126" LEVEL 1;
COMP "LED7" LOCATE = SITE "P127" LEVEL 1;
COMP "DIR_RIGHT" LOCATE = SITE "P131" LEVEL 1;
COMP "DIR_UP" LOCATE = SITE "P132" LEVEL 1;
COMP "Clk" LOCATE = SITE "P117" LEVEL 1;
PIN Clk_pin<0> = BEL "Clk" PINNAME PAD;
PIN "Clk_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "Clk_IBUF" PERIOD = 31 ns HIGH 50%;
NET "Clk_IBUF" PERIOD = 1000 ns HIGH 50%;
SCHEMATIC END;

